- if !user_signed_in?
  = link_to "イベントに参加する", new_user_session_path, class: "btn btn-primary text-white"
- else
  #follow_form
  - unless event.participated_by?(current_user)
    = render partial: 'events/participate', locals: { event: event }
  - else
    = render partial: 'events/cancel', locals: { event: event }



