.Main
  .EventTitle
    イベント一覧
  .EventList
    .Event
      .Event__user
        %p 主催者
      .Event__title
        %p イベントタイトル
      .Event__place
        %p 場所
      .Event__level
        %p プレイレベル
      .Event__sport
        %p スポーツの種類
      .Event__price
        %p 一人あたりの参加費
      .Event__count
      %p \○人/○人
    .Event
      .Event__user
        %p 主催者
      .Event__title
        %p イベントタイトル
      .Event__place
        %p 場所
      .Event__level
        %p プレイレベル
      .Event__sport
        %p スポーツの種類
      .Event__price
        %p 一人あたりの参加費
      .Event__count
      %p \○人/○人
    .Event
      .Event__user
        %p 主催者
      .Event__title
        %p イベントタイトル
      .Event__place
        %p 場所
      .Event__level
        %p プレイレベル
      .Event__sport
        %p スポーツの種類
      .Event__price
        %p 一人あたりの参加費
      .Event__count
      %p \○人/○人
    .Event
      .Event__user
        %p 主催者
      .Event__title
        %p イベントタイトル
      .Event__place
        %p 場所
      .Event__level
        %p プレイレベル
      .Event__sport
        %p スポーツの種類
      .Event__price
        %p 一人あたりの参加費
      .Event__count
      %p \○人/○人
    .Event
      .Event__user
        %p 主催者
      .Event__title
        %p イベントタイトル
      .Event__place
        %p 場所
      .Event__level
        %p プレイレベル
      .Event__sport
        %p スポーツの種類
      .Event__price
        %p 一人あたりの参加費
      .Event__count
      %p \○人/○人
    .Event
      .Event__user
        %p 主催者
      .Event__title
        %p イベントタイトル
      .Event__place
        %p 場所
      .Event__level
        %p プレイレベル
      .Event__sport
        %p スポーツの種類
      .Event__price
        %p 一人あたりの参加費
      .Event__count
      %p \○人/○人
    .Event
      .Event__user
        %p 主催者
      .Event__title
        %p イベントタイトル
      .Event__place
        %p 場所
      .Event__level
        %p プレイレベル
      .Event__sport
        %p スポーツの種類
      .Event__price
        %p 一人あたりの参加費
      .Event__count
      %p \○人/○人
    .Event
      .Event__user
        %p 主催者
      .Event__title
        %p イベントタイトル
      .Event__place
        %p 場所
      .Event__level
        %p プレイレベル
      .Event__sport
        %p スポーツの種類
      .Event__price
        %p 一人あたりの参加費
      .Event__count
      %p \○人/○人
