* {
  box-sizing: border-box;
}

.Main{
  width: 100%;
  height: calc(100vh - 60px);
  padding: 0 40px 40px 40px;
}

.EventSearch{
  width: 100%;
  padding: 10px;
  label {
    margin-bottom: 0px;
  }
}

.EventTitle{
  margin-top: 40px;
}

.EventLists{
  margin-top: 15px;
  display: grid;
  grid-auto-rows: minmax(250px, auto);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.EventTitle {
  font-size: 20px;
  width: 100%;
  border-bottom: 1px solid;
}

.Event {
  max-width: 560px;
  &__user{
    text-align: center;
  }
}
.avatar {
  height: 100px;
  margin-top: 20px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 50%;
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
}

