* {
  box-sizing: border-box;
}

.Main{
  width: 100%;
  height: calc(100vh - 60px);
  padding: 40px;
}

.EventTitle {
  font-size: 20px;
  width: 100%;
  border-bottom: 1px solid;
}

.EventList {
  margin-top: 15px;
  display: grid;
  grid-auto-rows: minmax(250px, auto);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.Event {
  background-color: gray;
  max-width: 560px;
  max-height: 360px;
}