.Notification {
  padding: 0; 
  margin-top: 20px;
  margin-bottom: 40px;
  .notice {
    // background-color: #38AEF0;
    // color: #fff;
    text-align: left;
    color: #111111;
    background-color: #dfecf0;
    padding: 15px;
    border: 1px solid #38AEF0;
    border-radius: 4px;
  }

  .alert {
    text-align: left;
    color: #111111;
    background-color: #f2dede;
    padding: 15px;
    border: 1px solid #d57370;
    border-radius: 4px;
  }
}