*{
  box-sizing: border-box;
  letter-spacing: 1px;
}
.displayNone {
  display: none;
}
.Heading{
  font-size: 16px;
}
.item{
  font-size: 13px;
  margin-top: 12px;
}
.NavBorderTop{
  border-top: 1px solid #e6e6e6;
}